* {
    box-sizing: border-box;
}

body {
    background: #0001;
}

.rule {
    display: inline-block;
    background: #0021;
    padding: 7px 7px 7px 0;
    border-radius: 3px;
}

.rule div {
    display: inline-block;
    padding-left: 7px;
}

.plus {
    cursor: pointer;
}

input[type=number] {
    text-align: right;
    width: 75px;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
